<main class="main">
  <div class="content">
    <h1>Connected</h1>
    <div class="action-content">
      <con-button
        buttonTitle="Login"
        linkTo="https://www.google.com/?client=safari"
      />
      <con-button
        buttonTitle="Register User"
        linkTo="https://www.google.com/?client=safari"
      />
    </div>
    <div class="wall">
      <div class="image">HIII</div>
      <div class="image">HIII</div>
      <div class="image">HIII</div>
      <div class="image">HIII</div>
      <div class="image">HIII</div>
      <div class="image">HIII</div>
      <div class="image">HIII</div>
      <div class="image">HIII</div>
      <div class="image">HIII</div>
      <div class="image">HIII</div>
      <div class="image">HIII</div>
    </div>
    <!-- <ul>
      @for (item of items$ | async; track item) {
      <li>{{ item.firstName }} {{ item.lastName }}</li>
      }
    </ul> -->
  </div>
</main>

<router-outlet />
