button {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  background-color: #d2bbae;
  font-size: 1.2em;
  border-radius: 20px;
  min-width: 200px;
  padding: 0.5em;
  align-content: center;
}

button:hover {
  cursor: pointer;
  opacity: 80%;
}
