p {
  background-color: #d2bbae;
  padding: 0.5rem 2rem 0.5rem 2rem;
  width: 5rem;
  border-radius: 1.2rem;
  text-align: center;
}

p:hover {
  transform: scale(1.05);
  background-color: #d2bbaeb6;
  transition: transform 100ms ease-in-out;
  cursor: pointer;
}
